@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/NotoSansJP-DemiLight.woff') format('woff');
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/NotoSansJP-Bold.woff') format('woff');
}